/sat_biblio_server/config/secret_key
/sat_biblio_server/config/mail_password
TO-DO.md
flask_session/
/sat_biblio_server/config/email_address
venv
.idea
/sat_biblio_server/config/jwt_secret_key
/sat_biblio_server/create_admin_user.py
/sat-biblio-interface/satbiblio-dist/
/sat_biblio_server/config/testing.py
/sat_biblio_server/config/key.txt
/sat_biblio_server/config/credentials.json
sat_biblio_server/static/catalogue-*
/sat_biblio_server/scripts/
/sat-biblio-interface/satbiblio.zip
/sat_biblio_server/uploads/
/dist/
__pycache__
**.egg-info
**.zip
/.aiignore
/sat_biblio_server/export/
/sat_biblio_server/static/publication_table_2004.db
/export/export-recherche-catalogue-exporte-2025.xlsx
/export-recherche-catalogue-exporte-2025.xlsx
/export-recherchecatalogue-exporte-2025.xlsx
/uploads/catalogues/2024-01-14T17!58!15.968278_apchbmavpp_A-livres-inventaire-2023-05-06.xlsx
/uploads/catalogues/2024-01-14T17!59!33.994044_gjyfqsiglr_B-livres-inventaire-2023-05-03-catalogue-exporte-2023.xlsx
/uploads/catalogues/2024-01-14T18!21!15.468029_gdvgtveyfv_C-livres-inventaire-2023-08-22-catalogue-exporte-2023.xlsx
/uploads/catalogues/2024-01-15T00!31!09.672121_gpqfdrbsqs_D-inventaire-2023-06-10.xlsx
/uploads/catalogues/2024-01-15T00!50!09.161635_jdxceejzdx_DOC-inventaire-2023-05-03.xlsx
/uploads/catalogues/2024-01-15T00!57!28.434811_kwkvisseba_GH-livres-maj-2023-05-06-chastel--.xlsx
/uploads/catalogues/2024-01-15T00!58!23.734469_itpbmdxrut_Inventaire-livres-anciens-FAG-preformate.xlsx
/uploads/catalogues/2024-01-15T00!59!20.584091_qxovofsgil_Inventaire-livres-anciens-FAM-preformate.xlsx
/uploads/catalogues/2024-01-15T00!59!44.948804_peyfhrkoug_Inventaire-livres-anciens-FAP-preformate.xlsx
/uploads/catalogues/2024-01-15T01!01!00.192984_aypkuzuzoe_MM-2023-05-03-preformate.xlsx
/uploads/catalogues/2025-11-29T01!39!02.713827_bqlqhszxag_Inventaire-BBH-au-31-decembre-2024.xlsx
