-e git+https://github.com/clemsciences/sat-biblio-referencement.git#egg=sat-biblio-referencement

Flask==3.0.0
Flask-Admin==1.6.1
Flask-Babel==4.0.0
Flask-Cors==4.0.0
Flask-JWT-Extended==4.5.3
#Flask-Login
-e git+https://github.com/maxcountryman/flask-login.git@7d98a49bc38d0849367b348bfe37a2b689323419#egg=flask-login

Flask-Mail
Flask-Migrate==4.0.5
Flask-Session==0.5.0
Flask-SQLAlchemy==3.1.0
Flask-WTF==1.2.0

lxml
openpyxl==3.0.9
rdflib
requests
