-f /usr/share/pip-wheels
alembic
Babel
Flask
Flask-Admin
Flask-Babel
flask-cors
Flask-Login
Flask-Mail
Flask-Migrate
# Flask-Session
flask-jwt-extended[asymmetric_crypto]
Flask-SQLAlchemy
itsdangerous
Jinja2
kiwisolver
Mako
MarkupSafe
pyparsing
python-dateutil
pytz
singledispatch
six
SQLAlchemy
visitor
Werkzeug
WTForms
pdfkit
wkhtmltopdf
xlrd
pylatex
