<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Bonjour {{ first_name }} {{ family_name }}</p>
<p>Vous avez emprunté un ouvrage dont le titre est <i>{{ title }}</i> à la Bibliothèque d'Histoire de la Touraine
le {{ borrowing_date }} et vous auriez dû le rendre avant le <b>{{ end_borrowing_date }}</b>.<br/>
Contactez dès que possible la bibliothèque pour informer de la situation.<br/>
Vous devrez rapporter cet ouvrage avant le {{ end_borrowing_date }}</p>
<p>Respectueusement,</p>
<p>L'équipe de la Bibliothèque d'Histoire de la Touraine, <a href="https://bht.societearcheotouraine.fr">bht.societearcheotouraine.fr</a></p>
</body>
</html>