
<p>{{ _("Bonjour") }} {{ user.first_name }} {{ user.family_name }},</p>
<p></p>
<p>{{ _("Nous avons reçu une demande de création d'un compte sur SAT Biblio de votre part.") }}</p>

<p>{{ _("Si cette demande provient bien de vous, veuillez cliquer sur ce lien afin de valider votre inscription : ") }}
<a href="{{ link }}">{{ link }}</a>.</p>

<p>{{ _("Si vous n'êtes pas à l'origine de cette demande, veuillez simplement ignorer cet email.") }}</p>
<p></p>
<p>L'équipe de SAT Biblio, <a href="https://satbiblio.clementbesnier.eu">satbiblio.clementbesnier.eu</a>.</p>
