<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Emprunt de {{ title }}</title>
</head>
<body>
<p>Bonjour {{ first_name }} {{ family_name }},</p>
<p>Vous venez d'emprunter un ouvrage dont le titre est <i>{{ title }}</i> à la Bibliothèque d'Histoire de la Touraine le {{ borrowing_date }}.<br/>
Vous devrez rapporter cet ouvrage avant le {{ end_borrowing_date }}.</p>
<p>Respectueusement,</p>
<p>L'équipe de la Bibliothèque d'Histoire de la Touraine, <a href="https://bht.societearcheotouraine.fr">bht.societearcheotouraine.fr</a></p>
</body>
</html>